<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Login Details</h2>
        <table class="table">
            {% csrf_token %}
            <thead>
                <tr>
                    <th>SI Number</th>
                    <th>Count</th>
                    <th>Member ID</th>
                    <th>User Name</th>
                    <th>Left Customer</th>
                    <th>Right Customer</th>
                    <th>Amount</th>
                    <th>Rebirth</th>

<!--                 <th>Formatted Date</th>&ndash;&gt;-->
                </tr>
            </thead>
            <tbody>
<!--            <form method="post">-->
<!--                {% csrf_token %}-->
<!--            {{ form.as_table }}-->
                {% for user in users %}
                    <tr>
<!--                        <td>{{ forloop.counter }}</td>-->
                        <td>{{ user.si_number }}</td>
                        <td>{{ user.count }}</td>
                        <td>{{ user.member_id }}</td>
                        <td>{{ user.user.username}}</td>
                        <td>{{ user.left_customer }}</td>
                        <td>{{ user.right_customer }}</td>
                        <td>{{ user.amount }}</td>
<!--                        <td>{{ user.income }}</td>-->
                        <td>{{ user.rebirth }}</td>


<!--                        <td>{{ user.formatted_date }}</td>-->
                    </tr>

                {% empty %}
                    <tr>
                        <td colspan="4">No users found</td>
                    </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
<!--      new section  -->
        <h2 class="mt-5">Add New Entry</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
</body>
</html>

